/Maze Horror Game/[Ll]ibrary/
/Maze Horror Game/[Tt]emp/
/Maze Horror Game/[Oo]bj/
/Maze Horror Game/[Bb]uild/
/Maze Horror Game/[Bb]uilds/
/Maze Horror Game/[Ll]ogs/
/Maze Horror Game/[Uu]ser[Ss]ettings/
/Maze Horror Game/*.log

/Maze Horror Game/[Mm]emoryCaptures/
/Maze Horror Game/[Rr]ecordings/
/Maze Horror Game/[Aa]ssets/Plugins/Editor/JetBrains*
/Maze Horror Game/.vs/
/Maze Horror Game/.gradle/
/Maze Horror Game/ExportedObj/
/Maze Horror Game/.consulo/
/Maze Horror Game/*.csproj
/Maze Horror Game/*.unityproj
/Maze Horror Game/*.sln
/Maze Horror Game/*.suo
/Maze Horror Game/*.tmp
/Maze Horror Game/*.user
/Maze Horror Game/*.userprefs
/Maze Horror Game/*.pidb
/Maze Horror Game/*.booproj
/Maze Horror Game/*.svd
/Maze Horror Game/*.pdb
/Maze Horror Game/*.mdb
/Maze Horror Game/*.opendb
/Maze Horror Game/*.VC.db
/Maze Horror Game/*.pidb.meta
/Maze Horror Game/*.pdb.meta
/Maze Horror Game/*.mdb.meta
/Maze Horror Game/sysinfo.txt
/Maze Horror Game/*.apk
/Maze Horror Game/*.aab
/Maze Horror Game/*.unitypackage
/Maze Horror Game/*.unitypackage.meta
/Maze Horror Game/*.app
/Maze Horror Game/crashlytics-build.properties
/Maze Horror Game/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/Maze Horror Game/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Maze Horror Game/[Aa]ssets/[Ss]treamingAssets/aa/*
Maze Horror Game/WebBuild.zip
/Maze Horror Game/WebBuild
/Maze Horror Game/test_BackUpThisFolder_ButDontShipItWithYourGame
/Maze Horror Game/Cleaning Mystery_BurstDebugInformation_DoNotShip
/Maze Horror Game/.utmp
